.abc-parent {
    /*background-color: rgba(255, 255, 255, 0.5);*/
    /*border-radius: 50px;*/
    width: 22%;
    padding-bottom: 4%;
}

.abc-parent h2 {
    margin: 15% 10% 12% 10%;
}

.abc-assignments {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-bottom: 7%;
    overflow-y:scroll;
    height:75vh;
}

.abc-assignments::-webkit-scrollbar {
    width: 20px;
}

.abc-assignments::-webkit-scrollbar-track {
    background-color: transparent;
}

.abc-assignments::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.abc-assignments::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.TheTable{
    background-color: rgba(255, 255, 255, 0.25);
}

tr:hover {background-color: white;}

td {
    table-layout: auto;
    width: 1%;
    height: fit-content;
}

.courseText{
    padding-left: 6%;
    text-align: center;
}

.colorForTable{
    float: left;
    height: 100px;
    width: 4%;
    background-color: #7398FF;
}
