.ass-tile {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #4a7dfc;
  margin-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
}

.ass-tile-yellow {
  border: 3px solid #f8d377;
  background-color: #f8d377;
}

.ass-tile-title {
  display: flex;
  justify-content: right;
  margin-right: 4%;
  padding-top: 1%;
  padding-bottom: 2%;
}

.ass-tile-content {
  cursor: pointer;
  padding: 2% 4%;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0.5px solid #212529;
  border-top: none;
}

.ass-tile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3%;
}

.ass-tile-files {
  width: fit-content;
  text-decoration-line: underline;
}

.ass-tile-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ass-tile-delete {
  margin-top: 2%;
  color: #f07371;
  padding: 5px 3px;
  border-radius: 5px;
  text-decoration: underline;
  transition: all 0.2s ease-out;
}

.ass-tile-delete:hover {
  cursor: pointer;
  background-color: #ff0000;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
