.cbc-parent {
    width: 22%;
    padding-bottom: 4%;
}

.cbc-parent h2 {
    margin: 15% 10% 12% 10%;
}

.cbc-courses {
    overflow-y: scroll;
    height: 70vh;
}

.cbc-courses::-webkit-scrollbar {
    width: 20px;
}

.cbc-courses::-webkit-scrollbar-track {
    background-color: transparent;
}

.cbc-courses::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.cbc-courses::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.TheTable {
    background-color: rgba(255, 255, 255, 0.25);
}

.course_id {
    margin-top: 16px;
    margin-bottom: 0;
}

.course_text {
    font-size: 17px;
    margin-top: 0;
}

.course_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-right: 10%;
}

tr:hover {
    background-color: white;
}

td {
    table-layout: auto;
    width: 1%;
    height: fit-content;
}

.courseText {
    padding-left: 6%;
    text-align: center;
}

.colorForTable {
    float: left;
    height: 100px;
    width: 4%;
    background-color: #7398ff;
}
