.cbc-parent {
    width: 22%;
    padding-bottom: 4%;
}

.cbc-parent h2 {
    margin: 15% 10% 12% 10%;
}

.TheTable{
    background-color: rgba(255, 255, 255, 0.25);
}

.course_id {
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 0;
}

.course_text {
    margin-top: 0;
}

.course_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-right: 10%;
}

tr:hover {
    background-color: white;
}

td {
    table-layout: auto;
    width: 1%;
    height: fit-content;
}

.courseText{
    padding-left: 6%;
    text-align: center;
}

.colorForTable{
    float: left;
    height: 100px;
    width: 4%;
    background-color: #7398FF;
}
