.cbc-parent {
  width: 22%;
  padding-bottom: 4%;
  background-color: #d4eefc;
  border-radius: 10px 0 0 10px;
}

.cbc-parent h2 {
  margin: 15% 10% 12% 10%;
}

.cbc-courses {
  overflow-y: scroll;
  height: 83%;
  margin-right: -19px;
}

.cbc-courses::-webkit-scrollbar {
  width: 20px;
}

.cbc-courses::-webkit-scrollbar-track {
  background-color: transparent;
}

.cbc-courses::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.cbc-courses::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.TheTable {
  background-color: rgba(255, 255, 255, 0.25);
}

.course_id {
  margin-top: 16px;
  margin-bottom: 10px;
}

.course_text {
  margin-top: 0;
}

.course_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}



tr:hover {
  background-color: white;
}

td {
  table-layout: auto;
  width: 1%;
  height: fit-content;
}

.courseText {
  padding-left: 6%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.colorForTable {
  height: 100px;
  width: 4%;
  background-color: #4a7dfc;
}

.normalStyle {
  display: flex;
  background-color: #f6f6f6;
  height: 100px;
  border: 1px solid gray;
  margin-bottom: -1px;
}

.clickedStyle {
  display: flex;
  background-color: #fff;
  height: 100px;
  border: 1px solid gray;
  margin-bottom: -1px;
}

.admin-button{
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid gray;
}

.admin-button-style{
  width: 100%;
  border-bottom-left-radius: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #212529;
}

#ass-bar{
  margin-top: -1px;
}

#ass-bar td{
  border: 1px lightgrey solid;
}

