.eac-form {
    background-color: white;
    padding: 1%;
    overflow-y: scroll;
    max-height: 58vh;
}

.eac-form::-webkit-scrollbar {
    width: 20px;
}

.eac-form::-webkit-scrollbar-track {
    background-color: transparent;
}

.eac-form::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.eac-input-field {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

.eac-input-field label {
    margin-right: 2%;
    margin-bottom: 5px;
}

.eac-input-field input {
    flex-grow: 1;
    padding: 5px 5px 5px 5px;
    border: 2px solid #949494;
    box-sizing: border-box;
    border-radius: 5px;
}

.eac-instructions {
    display: flex;
    margin-bottom: 5%;
    flex-direction: column;
}

.eac-instructions textarea {
    margin-right: 2%;
}

.eac-instructions textarea {
    flex-grow: 1;
    border: 2px solid #949494;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 15px 80px 15px;
    width: 100%;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
    width: 95%;

}

.eac-assignment-info-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.eac-assignment-info {
    margin-bottom: 5%;
    flex-direction: column;
    display: inline-block;
    width: 48%;
}

.eac-assignment-info label {
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 0;
    width: 100%;
}


.eac-assignment-info input[type='date'] {
    flex-grow: 0.75;
    border: 2px solid #949494;
    box-sizing: border-box;
    border-radius: 5px;
    height: 43px;
}

.eac-assignment-info input[type='number'] {
    flex-grow: 0.75;
    border: 2px solid #949494;
    box-sizing: border-box;
    border-radius: 5px;
    height: 43px;
}

.eac-assignment-files {
    display: flex;
    flex-grow: 1;
    margin-bottom: 5%;
    height: 50%;
}

.eac-file-name {
    margin-left: 2%;
}

.eac-assignment-files input {
    flex-grow: 1;
}

.eac-assignment-files p {
    flex-grow: 1;
}

.eac-assignment-files input[type='file']::file-selector-button {
    margin: 0 10px;
    width: 118px;
    height: 34px;
    background-color: #4a7dfc;
    border-radius: 5px;
    color: white;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.eac-assignment-files-multiple {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.eac-crossmark {
    margin-left: 1%;
}

.eac-crossmark-gone {
    display: none;
}
