@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

.ecc-form {
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

.ecc-input-field {
  width: 97.3%;
  display: flow;
  margin: 2%;
  justify-content: center;
  align-items: center;
}

.ecc-input-field label {
  margin-right: 500px;
}

.ecc-input-field input {
  flex-grow: 1;
  padding: 5px 5px 5px 5px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.ecc-row-multiple {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.ecc-file-upload {
  display: flex;
  gap: 10px;
}

.ecc-file-upload label {
  margin-top: 2.2%;
}

.ecc-file-upload input::file-selector-button {
  width: 140px;
  height: 40px;
  background-color: #4a7dfc;
  border-radius: 5px;
  color: white;
  border: none;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}

.ecc-file-upload input::file-selector-button:hover {
  background-color: #1d2f99;
  cursor: pointer;
}

.ecc-file-upload input::file-selector-button:active {
  background-color: #102080;
}


.ecc-anchor {
  font-family: "Inter", sans-serif;
  border: solid .5px #F04438;
  border-radius: 5px;
  font-size: 20px;
  color: #F04438;
  width: 250px;
  line-height: 24px;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  padding: 10px 50px 10px 50px;
  font-weight: bold;
}

.ecc-button {
  width: 250px;
  background-color: #28a745;
  border-radius: 5px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  padding: 10px 50px 10px 50px;
  border: none;
}

.ecc-button:hover {
  background-color: #027A48;
}

.ecc-button:active {
  background-color: #05603a;
}

.ecc-delete {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.ecc-anchor:hover {
  background-color: #F04438;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#ecc-delete-button-delete {
  border: solid .5px #F04438;
  width: 118px;
  height: 34px;
  background-color: white;
  border-radius: 5px;
  color: #F04438;
  margin-right: 30px;
}

#ecc-delete-button-cancel {
  font-family: "Inter", sans-serif;
  width: 118px;
  height: 34px;
  background-color: #4a7dfc;
  border-radius: 5px;
  color: white;
  border: none;
}

#ecc-button-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.roster-bulk-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ecc-bulk-download {
  display: flex;
  gap: 10px;
}

.ecc-bulk-download label {
  margin-top: 2.5%;
}

.bulk-download-button {
  width: 140px;
  height: 40px;
  background-color: #4a7dfc;
  border-radius: 5px;
  color: white;
  border: none;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}

.bulk-download-button:hover {
  background-color: #1d2f99;
}

.info-container {
  border: solid #212529;
  border-width: 1px;
  border-radius: 5px;
}

.info-header {
  padding: 5px;
  position: sticky;
  top: 0;
  background: #4A7DFC;
  height: 25px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.course-details-title {
  padding-left: 2%;
}