.ecc-form {
    background-color: white;
    border-radius: 50px;
    margin-top: 0;
    padding: 5%;
    height: 57vh;
}

.ecc-input-field {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
}

.ecc-input-field label {
    margin-right: 2%;
}

.ecc-input-field input {
    flex-grow: 1;
    padding: 5px 5px 5px 5px;
    border: 2px solid #949494;
    box-sizing: border-box;
    border-radius: 50px;
}

.ecc-row-multiple {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.ecc-file-upload label {
    margin-right: 1%;
}

.ecc-file-upload input::file-selector-button {
    background: #9cf0d3;
    border-radius: 50px;
    padding: 10px 45px 10px 45px;
    border: none;
    font-size: medium;
    font-weight: bold;
}

.ecc-button {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    padding: 10px 45px 10px 45px;
    border: none;
    font-size: medium;
    font-weight: bold;
}

.ecc-button button {
    background: #9cf0d3;
    border-radius: 50px;
    padding: 10px 45px 10px 45px;
    border: none;
    font-size: medium;
    font-weight: bold;
}

.ecc-delete {
    display: flex;
    justify-content: right;
    margin-right: 5%;
}

.ecc-delete button {
    background: #9cf0d3;
    border-radius: 50px;
    padding: 10px 45px 10px 45px;
    border: none;
    font-size: medium;
    font-weight: bold;
    margin-right: 2%;
}

.ecc-delete:hover {
    cursor: pointer;
}

.ecc-delete a {
    margin-left: 30%;
    text-decoration: underline;
    color: #F07371;
    font-weight: bold;
}
