.eac-form {
    background-color: white;
    border-radius: 50px;
    padding: 5%;
    overflow-y: scroll;
    max-height: 58vh;
}

.eac-form::-webkit-scrollbar {
    width: 20px;
}

.eac-form::-webkit-scrollbar-track {
    background-color: transparent;
}

.eac-form::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.eac-input-field {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
}

.eac-input-field label {
    margin-right: 2%;
}

.eac-input-field input {
    flex-grow: 1;
    padding: 5px 5px 5px 5px;
    border: 2px solid #949494;
    box-sizing: border-box;
    border-radius: 50px;
}

.eac-instructions {
    display: flex;
    width: 100%;
    margin-bottom: 5%;
    flex-direction: column;
}

.eac-instructions textarea {
    margin-right: 2%;
}

.eac-instructions textarea {
    flex-grow: 1;
    border: 2px solid #949494;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px 15px 80px 15px;
    width: 100%;
}

.eac-assignment-info {
    display: flex;
    margin-bottom: 5%;
}

.eac-assignment-info label {
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
}

.eac-assignment-info input[type='date'] {
    padding: 5px 5px 5px 5px;
    flex-grow: 0.75;
    border: 2px solid #949494;
    box-sizing: border-box;
    border-radius: 50px;
}

.eac-assignment-info input[type='number'] {
    padding: 5px 5px 5px 5px;
    flex-grow: 0.75;
    border: 2px solid #949494;
    box-sizing: border-box;
    border-radius: 50px;
}

.eac-assignment-files {
    display: flex;
    flex-grow: 1;
    margin-bottom: 5%;
}

.eac-file-name {
    margin-left: 2%;
}

.eac-assignment-files input {
    flex-grow: 1;
}

.eac-assignment-files p {
    flex-grow: 1;
}

.eac-assignment-files input[type='file']::file-selector-button {
    background: #91d8df;
    color: #393939;
    margin-left: 10px;
    border-radius: 50px;
    padding: 10px 45px 10px 45px;
    border: none;
    font-size: medium;
    font-weight: bold;
}

.eac-assignment-files-multiple {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.eac-crossmark {
    margin-left: 1%;
}

.eac-crossmark-gone {
    display: none;
}
