.ecc-form {
  background-color: white;
  border-radius: 50px;
  margin-top: 0;
  padding: 5%;
  height: 57vh;
}

.ecc-input-field {
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ecc-input-field label {
  margin-right: 2%;
}

.ecc-input-field label b,
.ecc-file-upload label b {
  font-weight: 500;
}

.ecc-input-field input {
  flex-grow: 1;
  padding: 5px 5px 5px 5px;
  border: 2px solid #949494;
  box-sizing: border-box;
  border-radius: 50px;
}

.ecc-row-multiple {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.ecc-file-upload label {
  margin-right: 1%;
}

.ecc-file-upload input::file-selector-button {
  background: #82dfe8;
  border-radius: 50px;
  padding: 10px 45px 10px 45px;
  border: none;
  font-size: medium;
  font-weight: bold;
  transition: all 0.2s ease-out;
}

.ecc-file-upload input::file-selector-button:hover {
  cursor: pointer;
  background-color: #58d5e1;
}

.ecc-button {
  display: flex;
  justify-content: center;
  margin-top: 7%;
  padding: 10px 45px 10px 45px;
  border: none;
  font-size: medium;
  font-weight: bold;
}

.ecc-button button {
  background: #9cf0d3;
  border-radius: 50px;
  padding: 10px 45px 10px 45px;
  border: none;
  font-size: medium;
  font-weight: bold;
  transition: all 0.2s ease-out;
}

.ecc-button button:hover {
  cursor: pointer;
  background-color: #58eeba;
}

.ecc-delete {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.ecc-anchor {
  color: #f07371;
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.2s ease-out;
  border-radius: 5px;
  padding: 3px 5px;
}

.ecc-delete button {
  background: #9cf0d3;
  border-radius: 50px;
  padding: 10px 45px 10px 45px;
  border: none;
  font-size: medium;
  font-weight: bold;
  margin-right: 2%;
}

.ecc-anchor:hover {
  cursor: pointer;
  background-color: #ff0000;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
