.RosterPage {
    display: flex;
    background-color: #ffffff;
    margin-top: 3%;
    border-radius: 20px;
}

#roster {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    border-radius: 20px;
    padding: 30px;
}

#roster::-webkit-scrollbar {
    width: 20px;
}

#roster::-webkit-scrollbar-track {
    background-color: transparent;
}

#roster::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

#roster::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.rosterHeader {
    font-size: 24px;
    font-weight: 400;
}

.rosterComp {
    border-bottom: 1px solid black;
    padding-top: 10px;
    font-weight: 400;
}

.rosterTable {
    width: 96%;
    border-collapse: collapse;
    border-radius: 50px;
    margin-left: 16px;
    text-align: left;
}

.rosterInput {
    border-radius: 50px;
    padding: 5px;
    margin: 10px;
}

.crossMark-wrapper {
    display: flex;
    justify-content: center;
}

.crossMark {
    color: #f07371;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 1.2rem;
    transition: all 0.2s ease-out;
    padding: 3px 5px;
    border-radius: 5px;
}

.crossMark:hover {
    cursor: pointer;
    background-color: #f07371;
    color: #fff;
}

#addStudentButton {
    border-radius: 50px;
    transition: all 0.2s ease-out;
}

#addStudentButton:hover {
    cursor: pointer;
    opacity: 0.8;
}

#addStudentDiv {
    position: absolute;
    top: 87%;
    left: 40%;
}

.button_plus {
    position: absolute;
    width: 50px;
    background: transparent;
    cursor: pointer;
    top: 85.5%;
    left: 55%;
}
