.RosterPage {
  display: flex;
  background-color: #ffffff;
  margin-top: 3%;
  border-radius: 20px;
}

#roster {
  width: 100%;
  height: 400px;
  overflow-y: auto;
  border-radius: 20px;
}

#roster::-webkit-scrollbar {
  width: 20px;
}

#roster::-webkit-scrollbar-track {
  background-color: transparent;
}

#roster::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

#roster::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.rosterHeader {
  font-size: 24px;
}

.rosterComp {
  border-bottom: 1px solid black;
  padding: 8px;
}

.rosterTable {
  width: 96%;
  border-collapse: collapse;
  border-radius: 50px;
  margin-left: 16px;
}

.rosterInput {
  border-radius: 50px;
  padding: 5px;
  margin: 10px;
}

.crossMark {
  cursor: pointer;
}

#addStudentButton {
  border-radius: 50px;
}

#addStudentDiv {
  position: absolute;
  top: 85%;
  left: 40%;
}

.button_plus {
  position: absolute;
  width: 50px;
  background: transparent;
  cursor: pointer;
  top: 82%;
  left: 55%;
}
