.RosterPage {
    display: flex;
}

#roster {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: 5%;
    margin-left: 5%;
    flex-grow: 1;
}

#rosterTable {
    width: 100%;
    border: 1px solid black;
    background-color: #FFF5EE;
    border-spacing: 15px;
    border-radius: 50px;
    margin: 10px;
}

.rosterInput {
    border-radius: 50px;
    padding: 5px;
    margin: 10px;
}

#addStudentButton {
    border-radius: 50px;
}

#addStudentDiv {
    margin-left: 15%;
}