#sidebar .pro-sidebar {
  height: 100vh;
}

#sidebar .closemenu {
  color: #000;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 55px;
  cursor: pointer;
}

#sidebar .pro-sidebar {
  width: 100%;
  min-width: 100%;
}

#sidebar .pro-sidebar-inner {
  background-color: transparent;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 0 20px;
  color: #000;
  font-weight: bold;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: #000;
  margin: 10px 0px;
  font-weight: bold;
}
#sidebar
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  border-radius: 3px;
}
#sidebar
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper
  .pro-item-content {
  color: #000;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout .active {
  background-image: linear-gradient(0deg, #f6f6f4 0%, #797876 100%);
}
#sidebar .logo {
  padding: 20px;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}
