.StudentAss {
    display: flex;
    font-family: 'Kumbh Sans', sans-serif;
}

#ass {
    margin-top: 3%;
    margin-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: 5%;
    margin-left: 5%;
    flex-grow: 1;
}

#assList {
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
}

#assList::-webkit-scrollbar {
    width: 20px;
}

#assList::-webkit-scrollbar-track {
    background-color: transparent;
}

#assList::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

#assList::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

#assListItem {
    height: 13vh;
    border-radius: 25px;
    border-style: solid;
    border-color: #7398ff;
    text-align: left;
    background: linear-gradient(
            to bottom,
            #7398ff 0%,
            #7398ff 20%,
            #eeeeee 20%,
            #eeeeee 100%
    );
    list-style-type: none;
    font-size: 15px;
    margin: 10px;
    white-space: pre-line;
    font-weight: bold;
    padding-left: 20px;
}

.ass-title-st {
    padding: 5px;
    border-radius: 5px;
    transition: all 0.1s ease-out;
}

.ass-due-date-st {
    padding: 10px 10px;
    font-size: 0.9em;
}

.ass-title-st:hover {
    background-color: #faf7ff;
}

.ass-span-student {
    float: right;
    padding-right: 22px;
    font-weight: bold;
}

.ass-instructions {
    padding: 10px;
    width:fit-content;
    text-decoration-line: underline;
    color:#7398FF;
    font-size: small;
    cursor: pointer;
}
