.TeacherAss {
    overflow-y: scroll;
    height: 70vh;
}

.loader-wrapper {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.delete-ass-btn {
    width: 135px;
    text-align: center;
    padding: 5px 3px;
    border-radius: 5px;
    color: #f07371;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    font-weight: bold;
    transition: all 0.2s ease-out;
}

.delete-ass-btn:hover {
    cursor: pointer;
    background-color: #ff0000;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.ass-title {
    margin-top: 1.5%;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.1s ease-out;
}

#teacherAssList {
    width: 100%;
}

.TeacherAss::-webkit-scrollbar {
    width: 20px;
}

.TeacherAss::-webkit-scrollbar-track {
    background-color: transparent;
}

.TeacherAss::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.TeacherAss::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.assListItem {
    height: 14vh;
    border-radius: 25px;
    border-style: solid;
    border-color: #7398ff;
    text-align: left;
    background: linear-gradient(
            to bottom,
            #7398ff 0%,
            #7398ff 20%,
            #eeeeee 20%,
            #eeeeee 100%
    );
    list-style-type: none;
    font-size: 15px;
    margin: 10px;
    white-space: pre-line;
    font-weight: bold;
}

.assListItem p {
    text-align: left;
    padding-right: 15px;
    font-weight: normal;
    font-size: small;
}

.assListItem span1 {
    float: right;
    padding-right: 11px;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
}

.assListItem span2 {
    float: right;
    font-weight: normal;
    font-size: small;
    cursor: pointer;
}

#assAddClass {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#assAddButton {
    cursor: pointer;
    justify-self: center;
    transition: all 0.2s ease-out;
    margin-top: 4%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
}

.ass-span {
    float: right;
    padding-right: 22px;
    font-weight: bold;
    font-size: small;
}
