@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.TeacherAss {
    display: flex;
    overflow-y: scroll;
    height: 70vh;
    font-family: 'Kumbh Sans', sans-serif;
}

.loader-wrapper {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn-wrapper {
    display: flex;
    justify-content: end;
}

.delete-ass-btn {
    width: 125px;
    text-align: center;
    font-size: 1em;
    padding: 5px 3px;
    border-radius: 5px;
    background-color: #ff0000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.delete-ass-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.ass-title {
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.1s ease-out;
}

.ass-title:hover {
    background-color: #faf7ff;
}

#ass {
    margin-top: 3%;
    margin-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: 5%;
    margin-left: 5%;
    flex-grow: 1;
}

#teacherAssList {
    width: 100%;
}

.TeacherAss::-webkit-scrollbar {
    width: 20px;
}

.TeacherAss::-webkit-scrollbar-track {
    background-color: transparent;
}

.TeacherAss::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.TeacherAss::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.assListItem {
    height: 13vh;
    border-radius: 25px;
    border-style: solid;
    border-color: #7398ff;
    text-align: left;
    background: linear-gradient(
            to bottom,
            #7398ff 0%,
            #7398ff 20%,
            #eeeeee 20%,
            #eeeeee 100%
    );
    list-style-type: none;
    font-size: 15px;
    margin: 10px;
    white-space: pre-line;
    font-weight: bold;
    padding-left: 20px;
}

.assListItem p {
    text-align: left;
    padding-right: 15px;
    font-weight: normal;
    font-size: small;
}

.assListItem span1 {
    float: right;
    padding-right: 11px;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
}

.assListItem span2 {
    float: right;
    padding-right: 0;
    font-weight: normal;
    font-size: small;
    cursor: pointer;
}

#assAddClass {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#assAddButton {
    cursor: pointer;
    justify-self: center;
    transition: all 0.2s ease-out;
    margin-top: 4%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
}

.ass-span {
    float: right;
    padding-right: 22px;
    font-weight: bold;
    font-size:small;
}
