.accordion {
  overflow: auto;
  max-height: 70vh;
}

.accordionTitle {
  background-color: #4a7dfc;
  font-size: 20px;
  padding-left: 12px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 5px 5px 0 0;
}

.accordionTitle:hover {
  cursor: pointer;
}

.accordionWrapper {
  display: flex;
  justify-content: space-between;
}

.memberWrapper {
  display: flex;
  justify-content: space-between;
}

.accordionHead {
  display: flex;
}

.accordionTeamTitle {
  margin-left: 12px;
}

.accordionContent {
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 0 0 5px 5px;
}

.crossMarkTeam {
  float: right;
  margin-right: 10px;
}

.plusMinusTeam:hover {
  cursor: pointer;
}

.memberItem {
  padding-bottom: 12px;
}

.teamMember {
  margin-left: 7.5%;
  padding: 5px;
}

.buttonPlusTeam {
  width: 3%;
  height: 3%;
  margin-left: 40%;
}

.emailInput {
  border-radius: 5px;
  margin-left: 8px;
}

.teamA {
  margin-left: 15px;

  width: 140px;
  height: 30px;
  background-color: #28a745;
  border-radius: 5px;
  color: white;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.teamA:hover {
  cursor: pointer;
  background-color: #6c63ff;
  color: #fff;
  border-radius: 10px;
}

.no-team-wrapper {
  margin-top: 5%;
}

.no-team-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-team-img {
  height: 300px;
  width: 400px;
}

.no-team-description {
  color: #4a7dfc;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 30px;
}

#load{
  width:100%;
  height:100%;
  position:fixed;
  z-index:8000;
}

#loadImage{
  width:10%;
  height:10%;
  position:fixed;
  z-index:8000;
}

.loading-wrapper {
  margin-top: 30%;
}

.loading-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}