.accordion {
    overflow: auto;
    max-height: 70vh;
}

.accordionItem {
}

.accordionTitle {
    background-color: #82dfe8;
    font-size: 20px;
    padding-left: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.accordionTitle:hover {
    cursor: pointer;
}

.accordionTeamTitle {
    margin-left: 12px;
}

.accordionContent {
    background-color: rgba(130, 223, 232, 0.5);
}

.crossMarkTeam {
    float: right;
    margin-right: 10px;
}

.plusMinusTeam:hover {
    cursor: pointer;
}

.memberItem {
    padding-bottom: 12px;
}

.teamMember {
    margin-left: 7.5%;
}

.buttonPlusTeam {
    width: 3%;
    height: 3%;
    margin-left: 40%;
}

.emailInput {
    border-radius: 50px;
    margin-left: 8px;
}

.teamA {
    margin-left: 8px;
    text-decoration: underline;
}

.teamA:hover {
    cursor: pointer;
}
