.TeamSubmission {
    display: flex;
}

#ass {
    margin-top: 3%;
    margin-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: 5%;
    margin-left: 5%;
    flex-grow: 1;
}

#assList {
    width: 100%;
}

#assListItem {
    height: 10vh;
    border-radius: 25px;
    border-style: solid;
    border-color: #7398ff;
    text-align: left;
    background: linear-gradient(
            to bottom,
            #7398ff 0%,
            #7398ff 20%,
            #eeeeee 20%,
            #eeeeee 100%
    );
    list-style-type: none;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    padding-top: 30px;
    white-space: pre-line;
    font-weight: bold;
    padding-left: 50px;
}
