.cdp-parent {
    display: flex;
    flex-direction: row;
    overflow: auto;
    background: conic-gradient(from 180deg at 50% 50%,
     #7398FF -128.84deg, 
     #57E1B2 25.81deg, 
     #7398FF 231.16deg, 
     #57E1B2 385.81deg);
}

.cdp-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    padding: 3% 3% 0 3%;
    margin: 3% 5%;
    flex-grow: 1;
}

.container a {
    text-decoration: underline;

}

.cdp-component-links {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.container a:hover {
    cursor: pointer;
}

.editCourseA {
    margin-left: 10%;
    font-size: 24px;
    padding-left: 24px;
}

.container h1 {
    margin-left: 1%;
    margin-bottom: 1%;
}