.ccp-parent {
    display: flex;
    flex-direction: row;
    background: conic-gradient(
            from 180deg at 50% 50%,
            #7398ff -128.84deg,
            #57e1b2 25.81deg,
            #7398ff 231.16deg,
            #57e1b2 385.81deg
    );
}

.cpp-title {
    margin-left: 2%;
}

.ccp-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    margin: 3% 2% 0 1%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
}

.ccp-form {
    background-color: white;
    border-radius: 50px;
    margin-top: 1%;
    padding: 5%;
}

.ccp-input-field {
    width: 100%;
    margin-bottom: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ccp-input-field label {
    margin-right: 2%;
}

.ccp-input-field input {
    flex-grow: 1;
    padding: 5px 5px 5px 5px;
    margin-left: 1%;
}

.cpp-row-multiple {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ccp-button {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
