.cap-parent {
    display: flex;
    flex-direction: row;
    background: conic-gradient(
            from 180deg at 50% 50%,
            #7398ff -128.84deg,
            #57e1b2 25.81deg,
            #7398ff 231.16deg,
            #57e1b2 385.81deg
    );
}

.cap-container {
    padding: 0 2% 2% 2%;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    margin: 1% 1%;
}

.field-container {
    border: 3px solid #9CF0D3;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #9CF0D3;
    margin-bottom: 3%;
}

.field-title {
    display: flex;
    justify-content: right;
    margin-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.field-content {
    padding: 4%;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.cap-form {
    border-radius: 25px;
    overflow-y: scroll;
    height: 65vh;
}

.cap-form form {
    border-radius: 25px;
    padding: 0 0 5% 0;
    background-color: white;
}

.cap-form::-webkit-scrollbar {
    width: 20px;
    background-color: transparent;
}

.cap-form::-webkit-scrollbar-track {
    background-color: transparent;
}

.cap-form::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.cap-input-field {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
}

.cap-input-field label {
    margin-right: 2%;
}

.cap-input-field input {
    flex-grow: 1;
    padding: 5px 5px 5px 5px;
    border: 2px solid #949494;
    box-sizing: border-box;
    border-radius: 30px;
}

.cap-instructions {
    display: flex;
    width: 100%;
    margin-bottom: 5%;
    flex-direction: column;
}

.cap-instructions label {
    margin-right: 2%;
}

.cap-instructions textarea {
    flex-grow: 1;
    border: 2px solid #949494;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px 15px 80px 15px;
    width: 100%;
}

.cap-assignment-files {
    display: flex;
    flex-grow: 1;
    margin-bottom: 5%;
}

.cap-assignment-files label {
    margin-bottom: 1%;
}

.cap-assignment-files input {
    flex-grow: 1;
}

.cap-assignment-files input[type='file']::file-selector-button {
    background: #82DFE8;
    color: #393939;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 50px;
    padding: 8px 35px 8px 35px;
    border: none;
    font-weight: bold;
}

.cap-assignment-info {
    display: flex;
    margin-bottom: 3%;
    gap: 2%;
}

.cap-assignment-info label {
    margin-bottom: 1%;
    margin-right: 1%;
}

.cap-assignment-info input[type='date'] {
    padding: 5px 5px 5px 5px;
    flex-grow: 0.75;
    border: 2px solid #949494;
    box-sizing: border-box;
    border-radius: 50px;
}

.cap-assignment-info input[type='number'] {
    padding: 5px 5px 5px 5px;
    flex-grow: 0.75;
    border: 2px solid #949494;
    box-sizing: border-box;
    border-radius: 50px;
}

.cap-button {
    display: flex;
    justify-content: center;
}

.cap-button button {
    background: #9cf0d3;
    color: #393939;
    border-radius: 50px;
    padding: 13px 55px 13px 55px;
    border: none;
    font-weight: bold;
}

.cap-altbutton {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.cap-altbutton a {
    color: #5267a3;
}
