.TeacherDashboard {
    display: flex;
}

#teacher {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: 5%;
    margin-left: 5%;
    flex-grow: 1;
    height: 90vh;
    width: 100vw;
}

#proCourseList {
    overflow-y: scroll;
    height: 65vh;
    margin-top:5px;
}

#proCourseList::-webkit-scrollbar {
    width: 20px;
}

#proCourseList::-webkit-scrollbar-track {
    background-color: transparent;
}

#proCourseList::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

#proCourseList::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

#addClass {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#addButton {
    color: black;
    margin: 10px 0;
    border: white;
    cursor: pointer;
    justify-self: center;
    background: #91D8DF;
    border-radius: 50px;
    padding: 10px 45px 10px 45px;
    border: none;
    font-size: medium;
    font-weight: bold;
}

.courseListItem {
    height: 10vh;
    text-align: left;
    background: linear-gradient(to right, #7398FF 0%, #7398FF 2%, #eeeeee 2%, #eeeeee 100%);
    list-style-type: none;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    padding-top: 17px;
    white-space: pre-line;
    font-weight: bold;
    padding-left: 50px;
}

a{
    text-decoration-line: none;
    color:black;
}