.page-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pdp-container{
  background-color: #d4eefc;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  /*height: 100vh;*/
  width: 100vw;
}

.TeacherDashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.create-course{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.welcome-banner {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-left: 46px;
  padding-top: 2%;
}

#welcome-message {
  margin-bottom: 46px;
}

h1 {
  color: #2f4858;
  font-size: 2.1em;
  font-family: "Kumbh Sans", sans-serif;
}

.views {
  display: flex;
  /*justify-content: space-between;*/
}

.student-view {
  border-radius: 5px;
  margin-bottom: 20px;
}

.student-view:hover {
  cursor: pointer;
  filter: brightness(115%);
}

.pdp-coursename {
  margin-bottom: 8px;
}

#teacher {
  background-color: white;
  /*padding-right: 3%;*/
  /*padding-left: 3%;*/
  flex-grow: 1;
  height: 100%;
  width: 100vw;
}

#proCourseList {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 55vh;
  margin: 5px 30px 0 30px;
}

#proCourseList::-webkit-scrollbar {
  width: 20px;
}

#proCourseList::-webkit-scrollbar-track {
  background-color: transparent;
}

#proCourseList::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

#proCourseList::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

#addClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

#addButton {
  cursor: pointer;
  justify-self: center;
}

.courseListItem {
  display: flex;
  flex-direction: column;
  height: 10vh;
  text-align: left;
  list-style-type: none;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  padding-top: 17px;
  white-space: pre-line;
  font-weight: bold;
  padding-left: 50px;
  transition: all 0.17s ease-out;
  border-radius: 5px;
}

.courseListItem:hover {
  transform: scale(1.02);
}

#create-button{
  margin-right: 100px;
}

a {
  text-decoration-line: none;
  color: black;
}
