@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.TeacherDashboard {
  display: flex;
}
.welcome-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #2f4858;
  font-size: 2.1em;
  font-family: 'Merriweather', sans-serif;
}

.views {
  display: flex;
  justify-content: space-between;
}

.student-view {
  margin-right: 5px;
  border: 1px solid #a8bbbf;
  transition: all 0.2s ease-out;
  border-radius: 8px;
}

.student-view:hover {
  cursor: pointer;
  color: #000;
  filter: brightness(110%);
  /* transform: scale(1.1);
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.2);
  z-index: 3; */
}

.original-view {
  margin-left: 5px;
  border: 1px solid #a8bbbf;
  transition: all 0.2s ease-out;
  border-radius: 8px;
}
.original-view:hover {
  cursor: pointer;
  color: #000;
  filter: brightness(110%);
}

#teacher {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-right: 3%;
  padding-left: 3%;
  margin-right: 5%;
  margin-left: 5%;
  flex-grow: 1;
  height: 90vh;
  width: 100vw;
}

#proCourseList {
  overflow-y: scroll;
  height: 65vh;
  margin-top: 5px;
}

#proCourseList::-webkit-scrollbar {
  width: 20px;
}

#proCourseList::-webkit-scrollbar-track {
  background-color: transparent;
}

#proCourseList::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

#proCourseList::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

#addClass {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

#addButton {
  color: #324b4d;
  cursor: pointer;
  justify-self: center;
  padding: 10px 45px 10px 45px;
  border: none;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #79bedc;
  font-family: 'Merriweather', sans-serif;
  background-color: #91d8df;
  transition: all 0.2s ease-out;
}
#addButton:hover {
  background-color: #79bedc;
  color: #000;
  opacity: 0.8;
  font-size: 1.135em;
  border: 1px solid #79bedc;
}

.courseListItem {
  height: 10vh;
  text-align: left;
  background: linear-gradient(
    to right,
    #7398ff 0%,
    #7398ff 2%,
    #eeeeee 2%,
    #eeeeee 100%
  );
  list-style-type: none;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  padding-top: 17px;
  white-space: pre-line;
  font-weight: bold;
  padding-left: 50px;
}

a {
  text-decoration-line: none;
  color: black;
}
