# Database name, root username, and root password to be initialized in Docker container.
MONGO_INITDB_DATABASE=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# Database authentication credentials. For local testing, MONGO_HOSTNAME should be 127.0.0.1 or localhost.
MONGO_HOSTNAME=mongo
MONGO_PORT=27017
MONGO_USERNAME=
MONGO_PASSWORD=

# This one should be the same as MONGO_INITDB_DATABASE unless you intend to use a different database.
MONGO_DATABASE=

# Database folder location on host machine.
DATABASE_FOLDER=/home/<username>/public_html/app/db

# The shell script location to initialize user authentication on host machine.
INITIALIZE_SCRIPT=/home/<username>/public_html/app/mongo-init.sh

# nginx.conf location.
NGINX=/home/<username>/public_html/app/nginx.conf