# The domain to be used.
REACT_APP_URL=

# Google OAuth2 credentials. Match those with your OAuth2 credentials at https://console.cloud.google.com/apis/
APP_NAME=
CLIENT_ID=
CLIENT_SECRET=

# Email domain and domain name to be allowed to authenticate.
EMAIL_DOMAIN=

# Database name, root username, and root password to be initialized in Docker container.
MONGO_INITDB_DATABASE=cpr
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# Database authentication credentials.
MONGO_HOSTNAME=
MONGO_PORT=27037
MONGO2_PORT=27038
MONGO3_PORT=27039
MONGO4_PORT=27040
MONGO_USERNAME=
MONGO_PASSWORD=
# This one should be the same as MONGO_INITDB_DATABASE unless you intend to use a different database.
MONGO_DATABASE=cpr

# Database folder location on host machine.
DATABASE_FOLDER=./db
DATABASE_FOLDER_2=./db2
DATABASE_FOLDER_3=./db3
DATABASE_FOLDER_4=./db4

# The shell script location to initialize user authentication on host machine.
INITIALIZE_SCRIPT=./mongo-init.sh

# nginx.conf location.
NGINX=./nginx.conf