# Database name, root username, and root password to be initialized in Docker container.
MONGO_INITDB_DATABASE=cpr
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# Database authentication credentials.
MONGO_HOSTNAME=
MONGO_PORT=
MONGO_USERNAME=
MONGO_PASSWORD=

# This one should be the same as MONGO_INITDB_DATABASE unless you intend to use a different database.
MONGO_DATABASE=cpr

# Database folder location on host machine.
DATABASE_FOLDER=/home/<user>/public_html/app/db
DATABASE_FOLDER_2=/home/<user>/public_html/app/db2

# The shell script location to initialize user authentication on host machine.
INITIALIZE_SCRIPT=/home/<user>/public_html/app/mongo-init.sh

# nginx.conf location.
NGINX=/home/<user>/public_html/app/nginx.conf