.page-container{
  display: flex;
  flex-direction: column;
}

.ap-parent {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.ap-container {
  background-color: #d4eefc;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.ap-component {
  border-radius: 0 10px 10px 0;
  flex-grow: 1;
  padding: 2%;
  background-color: white;
}

.ap-component-links {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-weight: bold;
  text-align: left;
  justify-content: space-between;
  padding: 0 5% 0 5%;
  margin-bottom: 5%;
}

.ap-component-links p:hover {
  cursor: pointer;
}

.ap-component-link {
  font-size: 24px;
  padding-left: 24px;
}

.ap-component-link-clicked {
  font-size: 24px;
  padding-left: 24px;
  text-decoration: underline;
  color: #5267a3;
}

.ap-assignmentArea {
  text-align: left;
  padding: 2%;
  background-color: #ffffff;
  margin-top: 3%;
  border-radius: 50px;
  flex-grow: 1;
  height: 70vh;
}

.ap-assignmentArea h3 {
  text-align: left;
  padding-left: 11px;
  font-weight: bold;
  width: 100%;
}

.span1-ap {
  float: right;
  margin-right: 4%;
}

.ap-assignmentArea p {
  font-weight: normal;
  font-size: medium;
  margin-top: 1%;
}

.ap-assignmentInstructions {
  width: 100%;
  display: flex;
  text-align: left;
}

.ap-assignment-files {
  display: flex;
  flex-grow: 1;
  margin-bottom: 3%;
}

.ap-assignment-files label {
  margin-bottom: 1%;
}

.ap-assignment-files input[type="file"]::file-selector-button {
  width: 118px;
  height: 34px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: #4a7dfc;
  border-radius: 5px;
  color: white;
  border: none;
  margin-right: 10px;
}
.ap-assignment-files input::file-selector-button:hover{
  background-color: #1d2ff9;
}
.ap-assignment-files input::file-selector-button:active{
  background-color: #102080;
}

.ap-button {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

/*.ap-button button {*/
/*  background: #9cf0d3;*/
/*  color: #393939;*/
/*  border-radius: 50px;*/
/*  padding: 10px 45px 10px 45px;*/
/*  border: none;*/
/*  font-size: medium;*/
/*  font-weight: bold;*/
/*}*/

.p2 {
  color: #5267a3;
  text-decoration-line: underline;
  cursor: pointer;
}
