body {
    overflow-y: hidden;
    font-family: 'Kumbh Sans', sans-serif;
}

.welcome-banner-st {
    display: flex;
    justify-content: left;
    font-weight: bold;
    font-size: small;
    padding-left: 2%;
    padding-top: 2%;
    flex-direction: column;
    margin: 15px 0 5px 0;
    width: 100%;
}

.student-welcome {
    color: #2f4858;
    font-size: 2em;
    padding-bottom: 10px;
}

.btn-wrapper {
    display: flex;
    justify-content: left;
    width: 100%;
}

.prof-view-btn {
    border: 1px solid #a8bbbf;
    transition: all 0.2s ease-out;
    border-radius: 8px;
    margin-left: 10px;
    font-family: 'Kumbh Sans', sans-serif;
}

.prof-view-btn:hover {
    cursor: pointer;
    color: #000;
    filter: brightness(110%);
}

.StudentDashboard {
    display: flex;
}

#student {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: 5%;
    margin-left: 5%;
    height: 90vh;
    width: 100vw;
}

#courseList {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 65vh;
}

#courseList::-webkit-scrollbar {
    width: 20px;
}

#courseList::-webkit-scrollbar-track {
    background-color: transparent;
}

#courseList::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

#courseList::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.courseListItem {
    height: 10vh;
    text-align: left;
    background: linear-gradient(
            to right,
            #7398ff 0%,
            #7398ff 2%,
            #eeeeee 2%,
            #eeeeee 100%
    );
    list-style-type: none;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    padding-top: 17px;
    white-space: pre-line;
    font-weight: bold;
    padding-left: 50px;
}

.courseListItem:hover {
    transform: scale(1.02);
}

a {
    text-decoration-line: none;
    color: black;
}
