.scp-parent {
  display: flex;
  flex-direction: row;
  overflow: auto;
  font-family: "Kumbh Sans", sans-serif;
}

.scp-container {
  border-radius: 10px;
  margin: 3% 5% 3% 2%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100vw;
}

.scp-component {
  border-radius: 0 10px 10px 0;
  flex-grow: 1;
  padding: 2%;
  background-color: white;
  overflow-y: hidden;
}

.scp-component::-webkit-scrollbar {
  width: 20px;
}

.scp-component::-webkit-scrollbar-track {
  background-color: transparent;
}

.scp-component::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.scp-component::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.scp-component-links {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: left;
  padding: 0 5% 0 2%;
  gap: 15%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #212529;
}

.scp-component-links p:hover {
  cursor: pointer;
}

.scp-component-link {
  font-size: 24px;
  padding-left: 24px;
}

.scp-component-link-clicked {
  font-size: 24px;
  padding-left: 24px;
  text-decoration: underline;
  font-weight: 900;
  color: #5267a3;
}

/*.assSubTodo {*/
/*    margin-left: 10%;*/
/*    font-size: 24px;*/
/*    padding-left: 24px;*/
/*}*/

/*.scs-container h1 {*/
/*    margin-left: 1%;*/
/*    margin-bottom: 1%;*/
/*}*/
