<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <!-- App runs normally without these features? If needed, bring them back -->
        <feature>microProfile-4.1</feature>
        <feature>mpConfig-2.0</feature>
        <feature>jaxrs-2.1</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="13127"/>
    <variable name="default.https.port" defaultValue="9445"/>
    <variable name="app.context.root" defaultValue="/"/>

    <httpEndpoint
            host="*"
            httpPort="${default.http.port}"
            httpsPort="${default.https.port}"
            id="defaultHttpEndpoint"
    />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Configures the application on a specified context root -->
    <webApplication contextRoot="${app.context.root}" location="course-manager-microservice.war"/>

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>

    <cors domain="/"
          allowedOrigins="*"
          allowedMethods="POST"
          allowCredentials="true"
          allowedHeaders="Content-Type"
          exposeHeaders="Content-Type"/>

</server>
