<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>microProfile-4.1</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="13127"/>
    <variable name="default.https.port" defaultValue="9445"/>
    <variable name="app.context.root" defaultValue="/"/>

    <httpEndpoint
            host="*"
            httpPort="${default.http.port}"
            httpsPort="${default.https.port}"
            id="defaultHttpEndpoint"
    />

    <applicationManager autoExpand="true"/>

    <webApplication contextRoot="${app.context.root}" location="course-manager-microservice.war"/>

    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>

    <mpJwt id="cpr22s_access" signatureAlgorithm="RS512" tokenHeader="Authorization" issuer="edu.oswego.cs_CPR.22S.480" audiences="CPR.22S.480" jwksUri="${JWKS_URI}"/>
</server>
