.headerBar{
    background-color: #4a7dfc;
    height: 52px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo{
    background-color: rgb(0,0,0,0);
    background-image: url("../../assets/icons/logo/CPR logo final-02.svg");
    width: 47px;
    height: 46px;
    margin: 3px 0 0 28px;
}

#admin-button{
    background-color: rgb(0,0,0,0);
    background-image: url("../../assets/icons/Admin_Header.svg");
    width: 29px;
    height: 25px;
    margin: 12px 40px 0 0;
}