.popup-container {
    position: relative;
}

.popup-trigger {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    position: relative;
    z-index: 1;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.popup-content {
    font-size: 14px;
}
.popup-container:hover .popup {
    visibility: visible; /* add this line */
    opacity: 1; /* add this line */
}
