.kumba-40 {
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    color: #393939;
}

.kumba-30 {
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: #393939;
}

.kumba-25 {
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    color: #393939;
}

.kumba-20 {
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: #393939;
}

.outfit-16 {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.outfit-13 {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

.outfit-20 {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}