.about-and-admin-buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
}

#aboutPageLinkIcon{
    background-color: rgb(0,0,0,0);
    background-image: url("../../assets/icons/aboutPage/White I Icon.svg");
    width: 26px;
    height: 26px;
}

#admin-button{
    background-color: rgb(0,0,0,0);
    background-image: url("../../assets/icons/Admin_Header.svg");
    width: 29px;
    height: 25px;
    margin-left: 25px;
}

.admin-dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    margin: 8px 0 0 -120px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid #2a2b32;
    margin-top: -1px;
    border-bottom: none;
}

.dropdown-content a:last-child {
    border-bottom: 1px solid #2b2b2b;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

.headerBar{
    background-color: #4a7dfc;
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-bar-left{
    width: 93%;
    padding-left: 20px;
}

#homeButtonDiv{
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#logo{
    background-color: rgb(0,0,0,0);
    background-image: url("../../assets/icons/logo/CPR logo final-02.svg");
    width: 47px;
    height: 46px;
    margin: 3px 0 0 10px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}