.about-page-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.about-page-nav-and-content-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: white;
}