<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>microProfile-4.1</feature>
        <feature>jwt-1.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="13126"/>
    <variable name="default.https.port" defaultValue="9444"/>
    <variable name="app.context.root" defaultValue="/"/>

    <httpEndpoint
            host="*"
            httpPort="${default.http.port}"
            httpsPort="${default.https.port}"
            id="defaultHttpEndpoint"
    />

    <basicRegistry />
    <applicationManager autoExpand="true"/>

    <jwtBuilder id="cpr22s_access" expiresInSeconds="3600" jwkEnabled="true" signatureAlgorithm="RS512"/>
    <jwtBuilder id="cpr22s_refresh" expiry="72h" jwkEnabled="true" signatureAlgorithm="RS512"/>

    <mpJwt id="cpr22s_refresh" signatureAlgorithm="RS512" tokenHeader="Authorization" issuer="edu.oswego.cs_CPR.22S.480_refresher" audiences="CPR.22S.480_refresher" jwksUri="${JWKS_REFRESH_URI}"/>

    <webApplication contextRoot="${app.context.root}" location="login-microservice.war" />
        
    <ssl id="defaultSSLConfig" expiresInSeconds="600" trustDefaultCerts="true"/>
</server>
