.cpp-parent {
    display: flex;
    flex-direction: row;
    overflow: auto;
    background: conic-gradient(from 180deg at 50% 50%,
    #7398FF -128.84deg,
    #57E1B2 25.81deg,
    #7398FF 231.16deg,
    #57E1B2 385.81deg);
}

.cpp-container {
    padding: 3% 4% 0 4%;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    margin: 3% 5%;
}

.ccp-form {
    background-color: white;
    border-radius: 50px;
    margin-top: 1%;
    padding: 5%;
}

.ccp-input-field {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
}

.ccp-input-field label {
    margin-right: 2%;
}

.ccp-input-field input {
    flex-grow: 1;
    padding: 5px 5px 5px 5px;
    border: 2px solid #949494;
    box-sizing: border-box;
    border-radius: 50px;
}

.cpp-row-two {
    display: flex;
    flex-direction: row;
}

div .row-two-first.ccp-input-field {
    margin-right:20px
}

.ccp-button {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.ccp-button button {
    background: #9CF0D3;
    border-radius: 50px;
    padding: 10px 45px 10px 45px;
    border: none;
    font-size: medium;
    font-weight: bold;
}

