.TeacherDashboard {
    display: flex;
}

#teacher {
    text-align: center;
    width: min-content;
    flex-grow: 1;
}

#addClass {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    align-items: center;
}

#addButton {
    background-color: lightgrey;
    color: black;
    font-size: 20px;
    padding: 10px 60px;
    margin: 10px 0;
    border: white;
    font-weight: bold;
    cursor: pointer;
    justify-self: center;
}

.courseListItem {
    background-color: #eee;
    list-style-type: none;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}
