<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
         <feature>jakartaee-8.0</feature>
        <feature>microProfile-4.1</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="13130"/>
    <variable name="default.https.port" defaultValue="4993"/>
    <variable name="app.context.root" defaultValue="/"/>

    <httpEndpoint
            host="*"
            id="defaultHttpEndpoint"
            httpPort="${default.http.port}"
            httpsPort="${default.https.port}"
    />

    <cors domain="/"
          allowedOrigins="*"
          allowedMethods="GET, DELETE, POST, PUT"
          allowCredentials="true"
          allowedHeaders="Content-Type"
          exposeHeaders="Content-Type"/>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Configures the application on a specified context root -->
    <webApplication contextRoot="${app.context.root}" location="professor-assignment-microservice.war" />

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />
</server>
