<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>microProfile-4.1</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="13130"/>
    <variable name="default.https.port" defaultValue="4993"/>
    <variable name="app.context.root" defaultValue="/"/>

    <httpEndpoint
            host="*"
            id="defaultHttpEndpoint"
            httpPort="${default.http.port}"
            httpsPort="${default.https.port}"
    />

    <applicationManager autoExpand="true"/>

    <webApplication contextRoot="${app.context.root}" location="professor-assignment-microservice.war" />

    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

    <mpJwt id="cpr22s_access" signatureAlgorithm="RS512" tokenHeader="Authorization" issuer="edu.oswego.cs-CPR.22S.480" audiences="CPR.22S.480" jwksUri="${jwksUrl}"/> 
    
    <cors domain="/"
          allowedOrigins="*"
          allowedMethods="GET, DELETE, POST, PUT"
          allowCredentials="true"
          allowedHeaders="Content-Type"
          exposeHeaders="Content-Type"/>    
</server>
